extends admin/layout

append content
    section
        append header
            .page-header
                h1 Create a new user.
        form.form-horizontal(method="post", action="/admin/user")
            block form
                block fields
                    block username
                        .control-group
                            label.control-label(for='username') Username:
                            .controls
                                input#username(type="text", name="user[username]");
                    block email
                        .control-group
                            label.control-label(for='email') Email:
                            .controls
                                input#email(type="text", name="user[email]");
                block submitButton
                    .control-group
                        .controls
                            input.btn.btn-primary(type="submit", value="Add")