extends admin/layout

append header
    .page-header
        h1 Viewing User #{object.username}

append content
    section
        block table
            table
                thead
                    tr
                        th Username
                        th Email
                        block additionalFieldsHeader
                        th(colspan=2) Actions
                tr
                    td
                        =object.username
                    td
                        =object.email
                    block additionalFields
                    td
                        a.btn(href="/admin/user/edit/#{object.id}") Edit